In [23]:
# Enable Intellisense
%config IPCompleter.greedy=True

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [25]:
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [26]:
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [27]:
school_data_complete_df.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [28]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [31]:
# find total number of unique school names
total_schools = school_data_complete_df["school_name"].nunique()
total_schools

15

In [33]:
# find unique school population counts
unique_size = school_data_complete_df["size"].unique()

unique_size

array([2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976,  427,  962, 1800,
       3999, 4761, 2739, 1635], dtype=int64)

In [36]:
# compute total student count of all schools
total_students = sum(unique_size)

total_students

39170

In [38]:
# find unique school budgets
unique_budget = school_data_complete_df["budget"].unique()

unique_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [39]:
# compute total budget of all schools
total_budget = sum(unique_budget)

total_budget

24649428

In [16]:
# calculate average math score
math_average = school_data_complete_df["math_score"].mean()
math_average

78.98537145774827

In [17]:
# calculate average math score
reading_average = school_data_complete_df["reading_score"].mean()
reading_average

81.87784018381414

In [40]:
# count the number of students passing math
pass_math_count = (school_data_complete_df["math_score"]>=70).sum()

pass_math_count

29370

In [42]:
pct_pass_math = pass_math_count/total_students * 100

pct_pass_math

74.9808526933878

In [41]:
# count the number of students passing reading
pass_reading_count = (school_data_complete_df["reading_score"]>=70).sum()

pass_reading_count

33610

In [43]:
pct_pass_reading = pass_reading_count/total_students * 100

pct_pass_reading

85.80546336482001

In [52]:
# count the number of students passing math and reading
pass_overall_count = len(school_data_complete_df[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)])

pass_overall_count

25528

In [53]:
pct_pass_overall = pass_overall_count/total_students * 100

pct_pass_overall

65.17232575950983

In [ ]:
# place all of the data into a new summary DataFrame and display
district_summary_df = pd.DataFrame({"Total Schools": total_schools,
                                    "Total Students": total_students,
                                    "Total Budget": total_budget,
                                    "Average Math Score": math_average,
                                    "Average Reading Score": reading_average,
                                    "\% Passing Math": pct_pass_math,
                                    "\% Passing Reading": pct_pass_reading,
                                    "\% Overall Passing": pct_pass_overall})
district_summary_df

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
#pokemon_type_df = pokemon_df[["Type 1", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
#pokemon_type_df.head()
#df.ix[:,'Capital'] #Select a single column of subset of columns
#df.sum() Sum of values
#df.cumsum() Cummulative sum of values
#df.min()/df.max() Minimum/maximum values
#df.idxmin()/df.idxmax() Minimum/Maximum index value
#df.describe() Summary statistics
#df.mean() Mean of values
#df.median() Median of values

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
df.sort_index() #Sort by labels along an axis
df.sort_values(by='Country') #Sort by the values along an axis
df.rank() #Assign ranks to entrie

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type