In [222]:
# Enable Intellisense
%config IPCompleter.greedy=True

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [223]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [224]:
# eliminate spaces in column names
df.rename(columns = {"Student ID":"student_id", "School ID":"school_id"}, inplace=True)
df.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [225]:
# check data types
df.dtypes

student_id        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
school_id         int64
type             object
size              int64
budget            int64
dtype: object

In [226]:
# change some dtypes and confirm
#df["student_id"] = df.student_id.astype(object)
#df["school_id"] = df.school_id.astype(object)
#df.dtypes

In [227]:
# check data
#df.head()

In [228]:
# find total number of unique school names and confirm
total_schools = df["school_name"].nunique()
print(total_schools)
print(df["school_name"].unique())

15
['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [229]:
# find total number of students in district
total_students = df["student_name"].count()

total_students

39170

In [230]:
# find unique school budgets
unique_budget = df["budget"].unique()

unique_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [231]:
# compute total budget of all schools
total_budget = sum(unique_budget)

total_budget

24649428

In [232]:
# calculate average math score
math_average = df["math_score"].mean()
math_average

78.98537145774827

In [233]:
# calculate average math score
reading_average = df["reading_score"].mean()
reading_average

81.87784018381414

In [234]:
# count the number of students passing math
pass_math_count = (df["math_score"]>=70).sum()

pass_math_count

29370

In [235]:
pct_pass_math = pass_math_count/total_students * 100

pct_pass_math

74.9808526933878

In [236]:
# count the number of students passing reading
pass_reading_count = (df["reading_score"]>=70).sum()

pass_reading_count

33610

In [237]:
pct_pass_reading = pass_reading_count/total_students * 100

pct_pass_reading

85.80546336482001

In [238]:
# count the number of students passing math and reading
pass_overall_count = len(df[(df["math_score"]>=70) & (df["reading_score"]>=70)])

pass_overall_count

25528

In [239]:
pct_pass_overall = pass_overall_count/total_students * 100

pct_pass_overall

65.17232575950983

In [240]:
# place all of the data into a new district summary DataFrame and display
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget.astype(float)],
    "Average Math Score": [math_average],
    "Average Reading Score": [reading_average],
    "% Passing Math": [pct_pass_math],
    "% Passing Reading": [pct_pass_reading],
    "% Overall Passing": [pct_pass_overall]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.985371,81.87784,74.980853,85.805463,65.172326

In [241]:
# format some data in table
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,.0f}".format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [242]:
# display data in cleaner format
district_summary_df.style.hide_index()
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:,.2f}".format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:,.2f}".format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.2f}".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:.2f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [243]:
# for reference
df.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [244]:
# create variable for GroupBy school name
school = df.set_index('school_name').groupby(['school_name'])

In [245]:
school_name = df['school_name']

school_name

0         Huang High School
1         Huang High School
2         Huang High School
3         Huang High School
4         Huang High School
                ...
39165    Thomas High School
39166    Thomas High School
39167    Thomas High School
39168    Thomas High School
39169    Thomas High School
Name: school_name, Length: 39170, dtype: object

In [246]:
# determine school type
school_type = df.set_index('school_name')['type']

school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [247]:
# determine number of students in school
school_pop = school["student_name"].count()

school_pop

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [248]:
# determine budget for each school
school_budget = df.set_index('school_name')['budget']

school_budget

school_name
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
                       ...
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Name: budget, Length: 39170, dtype: int64

In [249]:
# calculate per student budget per school
student_budget = school_budget/school_pop

student_budget

school_name
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
                      ...
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Length: 39170, dtype: float64

In [250]:
# calculate average math score per school
avg_math_school = school['math_score'].mean()

avg_math_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [251]:
# calculate average reading score per school
avg_read_school = school['reading_score'].mean()

avg_read_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [252]:
# calculate percent passing math per school
pass_math_school = df.loc[df['math_score'] >= 70].groupby('school_name')['student_name'].count() / school_pop * 100

pass_math_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [253]:
# calculate percent passing reading per school
pass_reading_school = df.loc[df["reading_score"] >= 70].groupby('school_name')['student_name'].count() / school_pop * 100


pass_reading_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [254]:
# calculate overall percent passing per school
pass_overall_school = df.loc[(df['math_score'] >= 70) & (df['reading_score'] >= 70)].groupby('school_name')['student_name'].count() / school_pop * 100

pass_overall_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [255]:
# place all of the data into a new district summary DataFrame and display
school_summary_df = pd.DataFrame({
                                "School Name": [school_name],
                                "School Type": [school_type],
                                "Total Students": [school_pop],
                                "Total School Budget": [school_budget],
                                "Per Student Budget": [student_budget.astype(float)],
                                "Average Math Score": [avg_math_school],
                                "Average Reading Score": [avg_read_school],
                                "% Passing Math": [pass_math_school],
                                "% Passing Reading": [pass_reading_school],
                                "% Overall Passing": [pass_overall_school]
                                })

school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,0 Huang High School 1 Huang Hi...,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 Huan...,school_name Bailey High School 628.0 Bailey...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

In [256]:
# set order
school_summary_df = school_summary_df [[
                                    'School Type', 
                                    'Total Students', 
                                    'Total School Budget', 
                                    'Per Student Budget', 
                                    'Average Math Score', 
                                    'Average Reading Score',
                                    '% Passing Math',
                                    '% Passing Reading',
                                    '% Overall Passing'
                                    ]]

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 Huan...,school_name Bailey High School 628.0 Bailey...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

In [257]:
# use Groupby to display df by school
#school_summary_df.groupby(['School Name'])
#school_summary_df.set_index('school_name').groupby(['school_name'])

In [258]:
# format the data to match example
school_summary_df['Total Budget'] = school_summary_df['Total Budget'].map("${:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].map("${:,.2f}".format)

school_summary_df

KeyError: 'Total Budget'

In [ ]:
# format the data in the table to read better
school_summary_df['Total Students'] = school_summary_df['Total Students'].map("{:,.0f}".format)
school_summary_df['Average Math Score'] = school_summary_df['Average Math Score'].map("{:,.2f}".format)
school_summary_df['Average Reading Score'] = school_summary_df['Average Reading Score'].map("{:,.2f}".format)
school_summary_df['% Passing Math'] = school_summary_df['% Passing Math'].map("{:.2f}".format)
school_summary_df['% Passing Reading'] = school_summary_df['% Passing Reading'].map("{:.2f}".format)
school_summary_df['% Overall Passing'] = school_summary_df['% Overall Passing'].map("{:.2f}".format)

school_summary_df

In [ ]:
# display summary table
#school_summary_df.groupby(['School Name'])

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [259]:
# show top five overall performing schools
top_five = school_summary_df.sort_values('% Overall Passing', ascending=False)

top_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 Huan...,school_name Bailey High School 628.0 Bailey...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [260]:
# show bottom five overall performing schools
bot_five = school_summary_df.sort_values(by='% Overall Passing')

bot_five.tail(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 Huan...,school_name Bailey High School 628.0 Bailey...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [261]:
# check existing grades
df['grade'].unique()

array(['9th', '12th', '11th', '10th'], dtype=object)

In [262]:
# create a series for each grade average math scores
math_9th = df.loc[df["grade"] == '9th'].groupby('school_name')['math_score'].mean()
math_10th = df.loc[df["grade"] == '10th'].groupby('school_name')['math_score'].mean()
math_11th = df.loc[df["grade"] == '11th'].groupby('school_name')['math_score'].mean()
math_12th = df.loc[df["grade"] == '12th'].groupby('school_name')['math_score'].mean()

In [263]:
# create dataframe to hold scores by grade
math_by_grade = pd.DataFrame({'9th': math_9th,
                            '10th': math_10th,
                            '11th': math_11th,
                            '12th': math_12th
                            })

In [264]:
# fix array order
math_by_grade = math_by_grade[['9th', '10th', '11th', '12th']]

math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [265]:
# clean up format and display results
math_by_grade.style.format({'9th': '{:.1f}', 
                            "10th": '{:.1f}', 
                            "11th": "{:.1f}", 
                            "12th": "{:.1f}"
                            })

# Reading Score by Grade

* Perform the same operations as above for reading scores

In [266]:
#### change below to reading

In [267]:
# create a series for each grade average math scores
reading_9th = df.loc[df["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
reading_10th = df.loc[df["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
reading_11th = df.loc[df["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
reading_12th = df.loc[df["grade"] == '12th'].groupby('school_name')['reading_score'].mean()

In [268]:
# create dataframe to hold scores by grade
reading_by_grade = pd.DataFrame({'9th': reading_9th,
                            '10th': reading_10th,
                            '11th': reading_11th,
                            '12th': reading_12th
                            })

In [269]:
# fix array order
reading_by_grade = reading_by_grade[['9th', '10th', '11th', '12th']]

reading_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [270]:
# clean up format and display results
reading_by_grade.style.format({'9th': '{:.1f}', 
                            "10th": '{:.1f}', 
                            "11th": "{:.1f}", 
                            "12th": "{:.1f}"
                            })

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [271]:
# create bins in which Data will be held
# bins are 0, 585.0, 630.0, 645.0, 675.0  
bins = [0, 585.0, 630.0, 645.0, 675.0]

# names of bins
group_names = ["<= $584", "$585 to $629", "$630 to $644", "$645 to $675"]

In [272]:
# process data into bins
pd.cut(school_summary_df['Per Student Budget'], bins, labels=group_names).head()

school_summary_df['Total School Budget'] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [273]:
# create GroupBy object
budget_group = school_summary_df.groupby('Total School Budget')

In [274]:
# calculate averages of the GroupBy object and display 
budget_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

DataError: No numeric types to aggregate

## Scores by School Size

* Perform the same operations as above, based on school size.

In [275]:
# create bins in which Data will be held
# bins are 0,999, 1999, 5000  
bins = [0, 999, 1999, 5000]

# names of bins
group_names = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

In [276]:
# process data into bins
pd.cut(school_summary_df['Total Students'], bins, labels=group_names).head()

school_summary_df['Total Students'] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [277]:
# create GroupBy object
size_group = school_summary_df.groupby('Total Students')

In [278]:
# calculate averages of the GroupBy object and display 
size_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

DataError: No numeric types to aggregate

## Scores by School Type

* Perform the same operations as above, based on school type

In [284]:
# create GroupBy object
type_group = school_summary_df.groupby('type')

KeyError: 'type'

In [285]:
# calculate averages of the GroupBy object and display 
type_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

KeyError: "Columns not found: 'Average Reading Score', '% Passing Reading', '% Passing Math', '% Overall Passing', 'Average Math Score'"