In [105]:
# Enable Intellisense
%config IPCompleter.greedy=True

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [136]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [137]:
# eliminate spaces in column names
df.rename(columns = {"Student ID":"student_id", "School ID":"school_id"}, inplace=True)
df.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [138]:
# check data types
df.dtypes

student_id        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
school_id         int64
type             object
size              int64
budget            int64
dtype: object

In [139]:
# change some dtypes and confirm
df["student_id"] = df.student_id.astype(object)
df["school_id"] = df.school_id.astype(object)
df.dtypes

student_id       object
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
school_id        object
type             object
size              int64
budget            int64
dtype: object

In [140]:
# check data
df.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [141]:
# find total number of unique school names and confirm
total_schools = df["school_name"].nunique()
print(total_schools)
print(df["school_name"].unique())

15
['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [142]:
# find unique school population counts
unique_size = df["size"].unique()

unique_size

array([2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976,  427,  962, 1800,
       3999, 4761, 2739, 1635], dtype=int64)

In [143]:
# compute total student count of all schools
total_students = sum(unique_size)

total_students

39170

In [144]:
# find unique school budgets
unique_budget = df["budget"].unique()

unique_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [145]:
# compute total budget of all schools
total_budget = sum(unique_budget)

total_budget

24649428

In [146]:
# calculate average math score
math_average = df["math_score"].mean()
math_average

78.98537145774827

In [147]:
# calculate average math score
reading_average = df["reading_score"].mean()
reading_average

81.87784018381414

In [148]:
# count the number of students passing math
pass_math_count = (df["math_score"]>=70).sum()

pass_math_count

29370

In [149]:
pct_pass_math = pass_math_count/total_students * 100

pct_pass_math

74.9808526933878

In [150]:
# count the number of students passing reading
pass_reading_count = (df["reading_score"]>=70).sum()

pass_reading_count

33610

In [151]:
pct_pass_reading = pass_reading_count/total_students * 100

pct_pass_reading

85.80546336482001

In [152]:
# count the number of students passing math and reading
pass_overall_count = len(df[(df["math_score"]>=70) & (df["reading_score"]>=70)])

pass_overall_count

25528

In [153]:
pct_pass_overall = pass_overall_count/total_students * 100

pct_pass_overall

65.17232575950983

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
# place all of the data into a new summary DataFrame and display
district_summary_df = pd.DataFrame({"Total Schools": total_schools,
                                    "Total Students": total_students,
                                    "Total Budget": total_budget,
                                    "Average Math Score": math_average,
                                    "Average Reading Score": reading_average,
                                    "% Passing Math": pct_pass_math,
                                    "% Passing Reading": pct_pass_reading,
                                    "% Overall Passing": pct_pass_overall})
district_summary_df

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [156]:
# for reference only
df.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [157]:
# remove unneeded columns
#df.drop(['student_id', 'student_name', 'gender', 'school_id'], axis=1, inplace=True)

#df.head()

In [158]:
# change column order
#column_titles = ['school_name', 'type', 'size', 'budget']
#df = df.reindex(columns=column_titles)

#df.head()

In [159]:
# add 'Per Student Budget' column to data frame
df['Per Student Budget']=df['budget']/df['size']

df

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget,Per Student Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0

In [162]:
# add 'Average Math Score' column to data frame
df['Average Math Score']=df['math_score'].mean

df.head(2)

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget,Per Student Budget,Average Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,<bound method Series.mean of 0 79\n1 ...
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,<bound method Series.mean of 0 79\n1 ...

In [163]:
# add 'Average Reading Score' column to data frame
df['Average Reading Score']=df['reading_score'].mean

df.head(2)

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget,Per Student Budget,Average Math Score,Average Reading Score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,<bound method Series.mean of 0 79\n1 ...,<bound method Series.mean of 0 66\n1 ...
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,<bound method Series.mean of 0 79\n1 ...,<bound method Series.mean of 0 66\n1 ...

In [184]:
# add '% Passing Math' column to data frame
#df['% Passing Math'] = ((df['math_score']>=70)/(df['size'])) * 100
df['% Passing Math'] = int((df['math_score']>=70).count) / sum(df["size"].unique()) * 100
df.head(2)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'method'

In [ ]:
# add '% Passing Reading' column to data frame
df['% Passing Reading'] = ((df['reading_score']>=70).sum() / (df['total students'].sum()) * 100
                           
df.head(2)

In [ ]:
# add '% Passing Overall' column to data frame
df['% Passing Overall'] = len(df[(df["math_score"]>=70) & (df["reading_score"]>=70)]) / (df['total students'].sum()) * 100
                           
df.head(2)

In [129]:
# rename column titles to match required output table

df.rename(columns = {'school_name':'School Name', 'type':'School Type', 'size':'Total Students', 
                    'budget':'Total School Budget'}, inplace=True)

df.head(2)

         School Name School Type  Total Students  Total School Budget
0  Huang High School    District            2917              1910635
1  Huang High School    District            2917              1910635
2  Huang High School    District            2917              1910635
3  Huang High School    District            2917              1910635
4  Huang High School    District            2917              1910635

In [98]:
# use GroupBy to separate and calculate averages of numerical data by "school_name"
df.groupby("school_name").mean()

                       size   budget  Per Student Budget
school_name
Bailey High School     4976  3124928               628.0
Cabrera High School    1858  1081356               582.0
Figueroa High School   2949  1884411               639.0
Ford High School       2739  1763916               644.0
Griffin High School    1468   917500               625.0
Hernandez High School  4635  3022020               652.0
Holden High School      427   248087               581.0
Huang High School      2917  1910635               655.0
Johnson High School    4761  3094650               650.0
Pena High School        962   585858               609.0
Rodriguez High School  3999  2547363               637.0
Shelton High School    1761  1056600               600.0
Thomas High School     1635  1043130               638.0
Wilson High School     2283  1319574               578.0
Wright High School     1800  1049400               583.0

In [ ]:
# convert the GroupBy object into a new DataFrame
school_summary_df = pd.DataFrame(df['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget',
                                   'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading',
                                   '% Overall Score']

school_summary_df.head()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
df.sort_index() #Sort by labels along an axis
df.sort_values(by='Country') #Sort by the values along an axis
df.rank() #Assign ranks to entrie

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
#pokemon_type_df = pokemon_df[["Type 1", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
#pokemon_type_df.head()
#df.ix[:,'Capital'] #Select a single column of subset of columns
#df.sum() Sum of values
#df.cumsum() Cummulative sum of values
#df.min()/df.max() Minimum/maximum values
#df.idxmin()/df.idxmax() Minimum/Maximum index value
#df.describe() Summary statistics
#df.mean() Mean of values
#df.median() Median of values

In [ ]:
# create bins in which to place values based upon school name
bins = ['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School']

# create labels for these bins
school_labels = ['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School']